@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-layouts/styles/material.css';

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#element {
    display: block;
    width: 400px;
    margin: 100px auto;
    border-radius: 3px;
}

#element :nth-child(5) {
    font-size: 18px;
}

#element :nth-child(4) {
    font-size: 20px;
}

#element :nth-child(3) {
    font-size: 22px;
}

#element :nth-child(2) {
    font-size: 24px;
}

#element :nth-child(1) {
    font-size: 26px;
}
