@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-interactive-chat/styles/material.css';
@import 'node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import 'node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import 'node_modules/@syncfusion/ej2-notifications/styles/material.css';

#wrapper {
  height: 350px;
  width: 650px;
  margin: 0 auto;
}


#prompt-item .promptItemContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#prompt-item .promptItemContent {
  align-items: flex-end;
  margin-right: 20px
}

#prompt-item .promptItemContent .prompt-header {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#prompt-item .promptItemContent .prompt-header span {
  margin-left: 10px;
}

#prompt-item .promptItemContent .content {
  margin-right: 35px;
}