.e-span {
    max-width: 70%;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: #fff; 
    top: 5px;
    left: 20px;
    width: 100%; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: move;
	
}
 .e-milestone-top {
    border-bottom-color: #616161 !important;
    border-bottom:  1px solid #3f51b5;
}

.e-milestone-bottom {
    border-top-color: #616161!important;
    border-top:  1px solid #3f51b5;
}

