<ejs-ribbon id="ribbon" [helpPaneTemplate]="undoredo">
    <e-ribbon-tabs>
        <e-ribbon-tab header="Home">
            <e-ribbon-groups>
                <e-ribbon-group>
                    <e-ribbon-collections>
                        <e-ribbon-collection>
                            <e-ribbon-items>
                                <e-ribbon-item type="Button" [buttonSettings]="cutButton">
                                </e-ribbon-item>
                            </e-ribbon-items>
                        </e-ribbon-collection>
                    </e-ribbon-collections>
                </e-ribbon-group>
            </e-ribbon-groups>
        </e-ribbon-tab>
    </e-ribbon-tabs>
    <ng-template #undoredo>
        <div class="helpPaneTemplate">
           <button class="action_btn"> <span id="undo" class="e-icons e-undo">Undo</span> </button>
           <button class="action_btn"> <span id="redo" class="e-icons e-redo">Redo</span> </button>
        </div>
    </ng-template>
</ejs-ribbon>