#container {
  visibility: hidden;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}
.control_wrapper {
  max-width: 500px;
  margin: auto;
}
#dropArea {
  border: 1px dashed #c3c3cc;
  text-align: center;
  padding: 20px 0 10px;
}
.e-file-select-wrap {
  display: none;
}