@import "node_modules/@syncfusion/ej2-material3-theme/styles/grid/index.css";
.below-30 {
    background-color: orangered;
  }
  
  .below-80 {
    background-color: yellow;
  } 
  
  .above-80 {
    background-color: greenyellow;
  }
  
  .e-attr {
    background: #d7f0f4;
  }