<table class='e-table'>
    <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Employee ID</th>
    </tr>
    <tbody *ngFor="let item of items">
        <tr>
            <td>{{item.OrderID}}</td>
            <td>{{item.CustomerID}}</td>
            <td>{{item.EmployeeID}}</td>
        </tr>
        <tr>
            <td colspan="3">
                <table class='e-table'>
                    <tr>
                        <th>ID</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    <tbody *ngFor="let order of item.Order_Details">
                        <tr>
                            <td>{{order.ProductID}}</td>
                            <td>{{order.UnitPrice}}</td>
                            <td>{{order.Quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>