  <div class="outbox">
    <div style="padding:30px;">
      <form [formGroup]="skillForm" novalidate id="formId" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <ejs-daterangepicker #ejDateRangePicker formControlName="daterangepicker" name="daterangepicker" placeholder='Select a range'
            floatLabelType="Always">
          </ejs-daterangepicker>
          <div *ngIf="daterangepicker.invalid && (daterangepicker.touched||daterangepicker.dirty)" class="alert alert-danger">
            Enter DateRange in MM/dd/yyyy.
          </div>
        </div>
        <div class="form-group" style="padding-top:10px;">
          <div class="e-float-input">
            <input type="text" formControlName="username" name="username" minlength="8" />
            <span class="e-float-line e-label-top"></span>
            <label class="e-float-text e-label-top">User Name:</label>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Name is required.
              </div>
              <div *ngIf="username.errors.minlength">
                Name must be at least 8 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" style="padding-top:10px;">
          <div class="e-float-input">
            <input type="email" formControlName="usermail" name="usermail" />
            <span class="e-float-line e-label-top"></span>
            <label class="e-float-text e-label-top">Email:</label>
            <div *ngIf="usermail.invalid && (usermail.dirty || usermail.touched)" class="alert alert-danger">
              Valid Email is required.
            </div>
          </div>
        </div>
        <div class="buttonclass">
          <button ejs-button class="e-btn e-success" type="submit" [disabled]="!skillForm.valid">Submit</button>
          <button ejs-button class="e-btn e-warning" type="reset">Reset</button>
        </div>
      </form>
    </div>
  <link href='https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css' rel='stylesheet' />
</div>