@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import 'node_modules/@syncfusion/ej2-angular-notifications/styles/material.css';

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#element {
    display: table;
    width: 560px;
    margin: auto;
    height: 200px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    justify-content: center;
    position: relative;
    top: 55px;
}

h1 {
    text-align: center;
}

#element .green {
    background: #329378;
    color: #fff;
}

#element .blue {
    background: #5f65b8;
    color: #fff;
}

#element .gradient {
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-gradient(to top, #8E54E9, #4776E6);
    background: -moz-linear-gradient(to top, #8E54E9, #4776E6);
    background: -o-linear-gradient(to top, #8E54E9, #4776E6);
    color: #fff;
}

#element .purple {
    background: #9a428f;
    color: #fff;
}