@import "node_modules/@syncfusion/ej2-material3-theme/styles/grid/index.css";

#message {
    color: red;
    text-align: center;
    margin-top:5px;
    margin-bottom: 5px;
}

button {
    margin: 5px;
}