.control-container .e-btn.e-inherit {
  margin: 0 3px;
}
@media screen and (max-width: 1024px) {
  .control-container .e-appbar {
     flex-flow: row wrap;
     height: auto;
     gap: 8px;
  }
  .control-container {
     width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .control-container {
     width: 200px;
     margin: 0 2px;
  }
}