#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
}

body {
  margin-top: 100px;
  text-align: center;
}

.e-menu-wrapper .e-menu .e-menu-item.e-menu-caret-icon .e-icons.e-caret {
  display: none;
}

.e-menu-wrapper .e-menu .e-menu-item.e-menu-caret-icon {
  padding-right: 5px;
}
