@import "node_modules/@syncfusion/ej2-material3-theme/styles/grid/index.css";
.rating .star:before {
    content: '★';
}

.rating .star {
    font-size: 132%;
    color: lightgrey;
}

.rating .star.checked {
    color: #ffa600;
}