@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/ai-assistview/index.css';
@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/speech-to-text/index.css';

.integration-texttospeech-settings {
  height: 350px;
  width: 650px;
  margin: 0 auto;
}

.integration-texttospeech-settings .e-view-container {
  margin: auto;
}

.integration-texttospeech-settings .e-banner-view {
  margin-left: 0;
}

.integration-texttospeech-settings .banner-content .e-assist-audio:before {
  font-size: 25px;
}

.integration-texttospeech-settings .banner-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
