@import "node_modules/@syncfusion/ej2-material3-theme/styles/grid/index.css";
@import "node_modules/@syncfusion/ej2-material3-theme/styles/switch/index.css";

/* Add this CSS to your component's CSS file (e.g., app.component.css) */

/* Style for the container */
.container {
    display: flex;
    align-items: center;
  }
  
  /* Style for the checkbox label */
  label {
    font-weight: bold;
    margin: 10px;
  }
  
  /* Style for the switch */
  .e-switch-wrapper {
    /* display: flex; */
    align-items: center;
  }
  
  /* Adjust switch appearance */
  .e-switch-wrapper .e-switch {
    margin-top: 5px;
  }
  