@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/inline-ai-assist/index.css';

#editableText {
  width: 100%;
  min-height: 120px;
  max-height: 300px;
  overflow-y: auto;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid;
}
