@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import 'node_modules/@syncfusion/ej2-popups/styles/material.css';
@import 'node_modules/@syncfusion/ej2-grids/styles/material.css';
@import 'node_modules/@syncfusion/ej2-angular-multicolumn-combobox/styles/material.css';

/* template styles */
.multicolumn-customize .e-headercell.e-templatecell {
    height: 40px;
  }
  
  .multicolumn-customize .ename {
    opacity: .87;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .multicolumn-customize .country {
    opacity: .87;
    font-size: 16px;
  }
  
  .multicolumn-customize .job {
    opacity: .54;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  
  .multicolumn-customize .empImage {
    margin: 6px 16px;
    float: left;
    width: 50px;
    height: 50px;
  }