@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/ai-assistview/index.css';

#wrapper {
  width: max(50%, 500px);
  margin: 30px auto;
}

.view-container {
  margin: 20px auto;
  width: 80%;
}