
#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#wrapper {
  height: 350px;
  width: 650px;
}


#prompt-item .promptItemContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#prompt-item .promptItemContent {
  align-items: flex-end;
  margin-right: 20px
}

#prompt-item .promptItemContent .prompt-header {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#prompt-item .promptItemContent .prompt-header span {
  margin-left: 10px;
}

#prompt-item .promptItemContent .content {
  margin-right: 35px;
}
