
@import 'node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import 'node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-angular-base/styles/material.css';

.e-section-control {
	margin-top: 150px;
}

.e-div {
	width: 40%;
	border: 1px dashed;
	height: 150px;
	margin: 10px;
	text-align: center;
	line-height: 150px;
	display: inline-block;
}