<div class="stepIndicator">
  <div class="indicatorOnly">
    <ejs-stepper stepType="Indicator">
        <e-steps>
          <e-step></e-step>
          <e-step></e-step>
          <e-step></e-step>
          <e-step></e-step>
        </e-steps>
    </ejs-stepper>
  </div>
  <div class="textOnly">
    <ejs-stepper stepType="Indicator">
      <e-steps>
        <e-step text="1"></e-step>
        <e-step text="2"></e-step>
        <e-step text="3"></e-step>
        <e-step text="4"></e-step>
      </e-steps>
    </ejs-stepper>
  </div>
</div>