/* csslint ignore:start */
#PivotViewFieldList {
    float: left;
    width: 58% !important;
    height: 100%;
}

#PivotFieldList {
    float: right;
    width: 42%;
    height: 100%;
}
/* csslint ignore:end */
  
/* csslint ignore:start */

.e-pivotview .e-tool-expand::before {
    content: '\e702';
}

/* csslint ignore:end */