<div class="schedule-container">
    <ejs-schedule #scheduleObj height='550px' [selectedDate]="selectedDate" [allowResizing]="allowResizing"
        [allowDragAndDrop]="allowDragDrop" [eventSettings]="eventSettings" [allowClipboard]="true" [showQuickInfo]="false" (beforePaste)="onBeforePaste($event)">
    </ejs-schedule>

    <ejs-grid
        id="Grid" #gridObj [dataSource]="gridData" width="550px" height="450px" cssClass="drag-grid" [allowSelection]="true" >
        <e-columns>
            <e-column field="OrderID" headerText="Order ID" textAlign="Right" width="90"></e-column>
            <e-column field="CustomerID" headerText="Customer ID" width="100"></e-column>
            <e-column field="ShipCity" headerText="Ship City" width="100"></e-column>
            <e-column field="ShipName" headerText="Ship Name" width="130"></e-column>
            <e-column field="OrderDate" headerText="Order Date" type="date" format="yMd" width="100"></e-column>
        </e-columns>
    </ejs-grid>
</div>
