#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#element {
    display: block;
    height: 350px;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}

.e-weekend {
    background-color: #ffd2ed;
}

/*custom styles*/

.e-calendar .e-content .e-disabled { /* csslint allow: adjoining-classes*/
    background: #00f;
}

.e-date-wrapper.e-custom-style .e-input { /* csslint allow: adjoining-classes*/
    color: blue;
}

.e-date-wrapper.e-custom-style .e-float-text.e-label-bottom, /* csslint allow: adjoining-classes*/
.e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons { /* csslint allow: adjoining-classes*/
    color: blue;
}

.e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::before, /* csslint allow: adjoining-classes*/
.e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::after,  /* csslint allow: adjoining-classes*/
.e-date-wrapper.e-custom-style input.e-input::selection, /* csslint allow: adjoining-classes*/
.e-date-wrapper.e-custom-style input.e-input::-moz-selection { /* csslint allow: adjoining-classes*/
    background: blue;
}

.e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons.e-active {  /* csslint allow: adjoining-classes*/
    color: blue;
}

.e-calendar .e-content td.e-disabled { /* csslint allow: adjoining-classes*/
    background: rgb(255, 192, 203);
}