
.ng-valid[required]  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.e-slider-container .e-slider
{
  /* csslint ignore:start */
  border-left-color:  transparent !important;
  /* csslint ignore:end */
}

.formresult{
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: blanchedalmond;
  text-align: center;
}