
#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#wrapper {
  height: 380px;
  width: 450px;
  margin: 0 auto;
}

#typingUsersTemplate .typing-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
.typing-user {
  font-weight: bold;
  color: #0078d4;
}