@import 'node_modules/@syncfusion/ej2-base/styles/tailwind3.css';
@import 'node_modules/@syncfusion/ej2-interactive-chat/styles/tailwind3.css';
@import 'node_modules/@syncfusion/ej2-inputs/styles/tailwind3.css';
@import 'node_modules/@syncfusion/ej2-buttons/styles/tailwind3.css';
@import 'node_modules/@syncfusion/ej2-popups/styles/tailwind3.css';
@import 'node_modules/@syncfusion/ej2-navigations/styles/tailwind3.css';
@import 'node_modules/@syncfusion/ej2-notifications/styles/tailwind3.css';

#wrapper {
    height: 350px;
    width: 650px;
    margin: 0 auto;
}

#wrapper .e-view-container {
    margin: auto;
}

#wrapper .e-banner-view {
    margin-left: 0;
}

#wrapper .banner-content .e-listen-icon:before {
    font-size: 25px;
}

#wrapper .banner-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

@media only screen and (max-width: 750px) {
    #wrapper {
        width: 100%;
    }
}