@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/chat-ui/index.css';
@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/drop-down-list/index.css';

#wrapper {
  height: 380px;
  width: 450px;
  margin: 0 auto;
}