<div class="col-lg-8 control-section dropdowntree-default sb-property-border">
    <div class="content-wrapper" style="height: 350px">
      <div style="margin: 0px auto; width:280px; padding-top: 40px;">
        <ejs-dropdowntree
          #dropdownTree
          id="dropdownTree"
          [changeOnBlur]="false"
          [showCheckBox]="true"
          [fields]="fields"
          popupHeight="220px"
          placeholder="Select a folder or file"
        ></ejs-dropdowntree>
      </div>
    </div>
</div>
<button (click)="onClick()">Check the nodes</button>