<ejs-treegrid #Treegrid [dataSource]='data' [treeColumnIndex]='1' height='400'  childMapping= 'items' autoCheckHierarchy="true">
                    <e-columns>
                       <e-column field='id' isPrimaryKey="true" [visible]="false"></e-column>
                        <e-column field='name'  headerText='Item'  width=180 showCheckbox="true"></e-column>
                        <e-column field='description'  headerText='Description'  width=200></e-column>
                        <e-column field='quantity' headerText='Quantity', width=100 textAlign="Right"></e-column>
                        <e-column field='price' headerText='Price' width=200 textAlign="Right"></e-column>
                        <e-column field='status' headerText='Status' width=100></e-column>
                        <e-column field='popularity' headerText='Popularity' width=110></e-column>
                    </e-columns>            
</ejs-treegrid>