<div class="stepperWithIconLabel">
  <div class="stepper">
    <ejs-stepper>
      <e-steps>
        <e-step iconCss="sf-icon-cart" [isValid]=true></e-step>
        <e-step iconCss="sf-icon-transport"></e-step>
        <e-step iconCss="sf-icon-payment" [isValid]=false></e-step>
        <e-step iconCss="sf-icon-success"></e-step>
      </e-steps>
    </ejs-stepper>
  </div>
  <div class="labelStepper">
    <ejs-stepper>
      <e-steps>
        <e-step label="Cart" [isValid]=true></e-step>
        <e-step label="Address"></e-step>
        <e-step label="Payment" [isValid]=false></e-step>
        <e-step label="Confirmation"></e-step>
      </e-steps>
    </ejs-stepper>
  </div>
</div>