#container {
  visibility: hidden;
}

#loader {
color: #008cff;
height: 40px;
left: 45%;
position: absolute;
top: 45%;
width: 30%;
}

.control_wrapper {
  max-width: 500px;
  min-width: 245px;
  margin: auto;
}

#preview {
border: 2px dashed #ddd;
padding: 15px;
}

.image-list {
width: 134px;
height: 117px;
margin-right: 4px;
border: 1px solid lightgrey;
display: inline-block;
}

.image {
width: 134px;
height: 117px;
margin-right: 4px;
display: inline-block;
}

.e-control {
border : 0;
}

.e-control ul {
border: 1px solid #ddd;
}

.e-control .e-file-select,
.e-control .e-file-drop {
display: none;
}