@import "node_modules/@syncfusion/ej2-material3-theme/styles/grid/index.css";


.input-container {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.label {
    margin-right: 10px;
    font-weight: bold;
}