@import '../node_modules/@syncfusion/ej2-tailwind3-theme/styles/ai-assistview/index.css';
@import '../node_modules/@syncfusion/ej2-tailwind3-theme/styles/drop-down-list/index.css';

#wrapper {
  height: 350px;
  width: 650px;
  margin: 0 auto;
}
