<div
    id="loadOnDemand"
    ejs-chatui
    #chatUI
    headerText="Chat UI"
    headerIconCss="e-icons e-ai-chat"
    [headerToolbar]="headerToolbar"
    (messageSend)="messageSend($event)"
    [user]="currentUser"
  >
    <ng-template #emptyChatTemplate>
      <div class="emptychat-content">
        <h3><span class="e-icons e-comment-show"></span></h3>
        <div class="emptyChatText">
          Just a second, we're preparing your chat...
        </div>
      </div>
    </ng-template>
</div>