#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
#container{
    width: 100%;
}
#calendar {
    width: 60%;
    margin: 30px auto;
    display: inline-flex;
}
#format { 
    width: 20%;
    margin-left: 8%;
    display: inline-block;
}
#select {
    height: 30px;
    width: 150px;
    margin-top: 10px;
}
.custom-input-label{
    font-size: 15px;
    font-weight: bold
}
