<div>
    <ejs-grid #grid [dataSource]="data" height=500 width='auto' >
      <e-columns>
        <e-column field="OrderID" headerText="Order ID" width="50" text-align="Right">
        </e-column>
        <e-column field="Quantity" headerText="Quantity" width="100" text-align="Right">
        </e-column>
        <e-column field="OrderDate" headerText="Order Date" width="120" format="yMd" 
        text-align="Right"></e-column>
        <e-column field="ShipAddress" headerText="Ship Address" width="170" text-align="Right">
        </e-column>
        <e-column headerText="Order Status" width="120" ></e-column>
      </e-columns>
      <ng-template #rowTemplate let-data>
        <tr>
          <td>
            <ejs-chiplist width="50" id="chip" [text]="data.OrderID"></ejs-chiplist>
          </td>
          <td>
            <ejs-numerictextbox width="130" [(value)]="data.Quantity"></ejs-numerictextbox>
          </td>
          <td>
            <ejs-datepicker width="100"  format='yyyy-MM-dd' [(value)]="data.OrderDate"></ejs-datepicker>
          </td>
          <td>{{data.ShipAddress}} </td>
          <td>
            <ejs-dropdownlist width="100" [(value)]="data.OrderStatus" [dataSource]="dropData"
              [popupHeight]="150" [popupWidth]="150"> </ejs-dropdownlist>
          </td>
        </tr>
      </ng-template>
    </ejs-grid>
  </div>
  