<div id='container' class="col-lg-12">
    <div class="content-wrapper">
        <div class="col-lg-9 control-section">
            <ejs-schedule width='100%' #scheduleObj height='550px' [selectedDate]="selectedDate" [eventSettings]="eventSettings"
            (dataBound)="onDataBound()">
            </ejs-schedule> 
        </div>
        <div class="col-lg-3 property-section">
            <table id="property" title="Event Trace">
                <tbody>
                    <tr>
                        <td>
                            <div class="eventarea" style="height: 245px;overflow: auto">
                                <span class="EventLog" id="EventLog" style="word-break: normal;">
                                    <span *ngFor="let log of eventLogs">Events present on scheduler <b>{{ log }}</b> <hr></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="evtbtn" style="padding-bottom: 10px">
                                <input id="clear" type="button" (click)="onClick()" value="Clear">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>