<ejs-grid
  [dataSource]="dataManager"
  [query]="query"
  [allowSelection]="true"
  [allowFiltering]="true"
  [allowSorting]="true"
  [enableDomVirtualization]="true"
  [domVirtualizationSettings]="{ rowBuffer: 10 }"
  [pageSettings]="{ pageSize: 50 }"
  [filterSettings]="{ type: 'CheckBox' }"
  [toolbar]="['Search']"
  height="300px"
  [rowHeight]="50"
  clipMode="EllipsisWithTooltip"
>
  <e-columns>
    <e-column field="EmployeeID" headerText="Employee ID" width="130" [isPrimaryKey]="true"></e-column>
    <e-column field="Employees" headerText="Employee Name" width="150"></e-column>
    <e-column field="Designation" headerText="Designation" width="180"></e-column>
    <e-column field="Mail" headerText="Email" width="230"></e-column>
    <e-column field="Location" headerText="Location" width="150"></e-column>
    <e-column field="Status" headerText="Status" width="150"></e-column>
  </e-columns>
</ejs-grid>
