<table id="property" title="Properties" style="width: 100%">
    <tbody>
        <tr style="height: 50px">
            <td>
                <div> Scroll To
                </div>
            </td>
            <td>
                <div>
                    <ejs-timepicker width='100px' [value]="scrollToHour" format='HH:mm' (change)="onChange($event)"> </ejs-timepicker>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<ejs-schedule #scheduleObj width='100%' height='550px' [views]="scheduleViews" [selectedDate]="selectedDate" [eventSettings]="eventSettings"></ejs-schedule>