<div id="chatui" ejs-chatui [user]="currentUserModel" [autoScrollToBottom]="true">
    <e-messages>
        <e-message text="Want to get coffee tomorrow?" [author]="currentUserModel"></e-message>
        <e-message text="Sure! What time?" [author]="michaleUserModel"></e-message>
        <e-message text="How about 10 AM?" [author]="currentUserModel"></e-message>
        <e-message text="Perfect." [author]="michaleUserModel"></e-message>
        <e-message text="See you!" [author]="currentUserModel"></e-message>
        <e-message text="Bye!" [author]="michaleUserModel"></e-message>
    </e-messages>
</div>