<div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <ejs-datetimepicker id="datetimepicker" name="datetime"  [(ngModel)]="user.datetime" #date="ngModel" width="300px" required></ejs-datetimepicker>
        <div  *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)" class="alert alert-danger formerror">
          Valid date and time is required
        </div>
        <div *ngIf="userForm.valid && (userForm.dirty || userForm.touched)" class="alert alert-success formerror">
          <table>
            <tr>
              <td style="width:50%">Selected value: </td>
              <td class="formtext ">{{ user.datetime | date:"dd/MM/yyyy hh:mm a"}}</td>
            </tr>
          </table>
        </div>
    </div>
    <div class="buttons">
    <button type="submit" class="e-btn e-success">Submit</button>
    <button type="reset" class="e-btn e-warning">Reset</button>
    </div>
  </form>

  <div class="dataclass">userForm.value: {{userForm.value | json}}</div>
  <div class="dataclass">userForm.valid: {{userForm.valid}}</div>

</div>

<style>
  form {
    margin-top: 50px;
  }
</style>