.router-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d6efd;
}

.router-list li {
  float: left;
}

.router-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.router-list li a:hover {
  background-color: hsl(200, 38%, 55%);
}