<div class="control-section e-tbar-section">
  <div class="e-sample-resize-container">
    <h3>Scrollable mode </h3>
    <!-- Render the Toolbar Component -->
    <ejs-toolbar height="20px" width="300px">
      <e-items>
        <e-item text='Cut' prefixIcon='e-icons e-cut'></e-item>
        <e-item text='Copy' prefixIcon='e-icons e-copy'></e-item>
        <e-item text='Paste' prefixIcon='e-icons e-paste'></e-item>
        <e-item type='Separator'></e-item>
        <e-item text='bold' prefixIcon='e-icons e-bold'></e-item>
        <e-item text='underline' prefixIcon='e-icons e-underline'></e-item>
        <e-item text='italic' prefixIcon='e-icons e-italic'></e-item>
        <e-item type='Separator'></e-item>
        <e-item text='Export' prefixIcon='e-icons e-export'></e-item>
        <e-item text='Reload' prefixIcon='e-icons e-refresh'></e-item>
        <e-item text='Clear' prefixIcon='e-icons e-erase'></e-item>
      </e-items>
    </ejs-toolbar>
    <br>

    <h3>Popup mode </h3>
    <!-- Render the Toolbar Component -->
    <ejs-toolbar height="20px" overflowMode='Popup' width='380px'>
      <e-items>
        <e-item text='Cut' prefixIcon='e-icons e-cut' overflow='Show' showTextOn='overflow'></e-item>
        <e-item text='Copy' prefixIcon='e-icons e-copy' overflow='Show' showTextOn='overflow'></e-item>
        <e-item text='Paste' prefixIcon='e-icons e-paste' overflow='Show' showTextOn='overflow'></e-item>
        <e-item type='Separator'></e-item>
        <e-item text='bold' prefixIcon='e-icons e-bold' overflow='Show' showTextOn='overflow'></e-item>
        <e-item text='underline' prefixIcon='e-icons e-underline' overflow='Show' showTextOn='overflow'></e-item>
        <e-item text='italic' prefixIcon='e-icons e-italic' overflow='Show' showTextOn='overflow'></e-item>
        <e-item text='Color-Picker' prefixIcon='e-icons e-paint-bucket' overflow='Hide' showTextOn='overflow'></e-item>
        <e-item type='Separator'></e-item>
        <e-item text='Export' prefixIcon='e-icons e-export' overflow='Show' showTextOn='overflow'></e-item>
        <e-item text='Reload' prefixIcon='e-icons e-refresh' overflow='Show' showTextOn='overflow'></e-item>
        <e-item text='Clear' prefixIcon='e-icons e-erase' overflow='Show' showTextOn='overflow'></e-item>
      </e-items>
    </ejs-toolbar>
  </div>
</div>