@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/chat-ui/index.css';

#wrapper {
  height: 380px;
  width: 450px;
  margin: 0 auto;
}
.custom-dropdown.e-dropdown-popup ul {
  min-width: 100px;
}