<ejs-dialog #alertDlg header='Alert' width=200 isModal=true content='' [target]='dlgTarget' [buttons]='dlgButtons'
    (created)='dlgCreated()'></ejs-dialog>

<ejs-accordion #accordion (created)='acrdnCreated()'>
    <e-accordionitems>
        <e-accordionitem expanded='true' header='Sign In'>
            <ng-template #content>
                <div id="Sign_In_Form" style="padding: 3px 0">
                    <form id="formId">
                        <div class="form-group">
                            <div class="e-float-input">
                                <input type="text" id="email" name="Email" required="" #emailRef/>
                                <span class="e-float-line"></span>
                                <label class="e-float-text" for="email">Email</label>
                            </div>
                            <div class="e-float-input">
                                <input id="password" type="password" name="Password" required="" #passwordRef/>
                                <span class="e-float-line"></span>
                                <label class="e-float-text" for="password">Password</label>
                            </div>
                        </div>
                    </form>
                    <div style="text-align: center">
                        <button class='e-btn' id="Continue_Btn" (click)='btnClick($event)'>Continue</button>
                        <div id="err1" #error1>* Please fill all fields</div>
                    </div>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem header='Delivery Address'>
            <ng-template #content>
                <div id="Address_Fill" style="padding: 3px 0">
                    <form id="formId_Address">
                        <div class="form-group">
                            <div class="e-float-input">
                                <input type="text" id="name" name="Name" required="" #nameRef/>
                                <span class="e-float-line"></span>
                                <label class="e-float-text" for="name">Name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="e-float-input">
                                <input type="text" id="address" name="Address" required="" #addressRef/>
                                <span class="e-float-line"></span>
                                <label class="e-float-text" for="address">Address</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <ejs-numerictextbox #mobile format='0' placeholder='Mobile' floatLabelType='Auto'
                                [showSpinButton]=false></ejs-numerictextbox>
                        </div>
                    </form>
                    <div style="text-align: center">
                        <button class='e-btn' id="Continue_BtnAdr" (click)='btnClick($event)'>Continue</button>
                        <div id="err2" #error2>* Please fill all fields</div>
                    </div>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem header='Card Details'>
            <ng-template #content>
                <div id="Card_Fill" style="padding: 3px 0;">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <div class="form-group">
                            <ejs-numerictextbox #cardNo format='0' placeholder='Card No' floatLabelType='Auto'
                                [showSpinButton]=false></ejs-numerictextbox>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="e-float-input">
                                <input type="text" id="cardHolder" name="cardHolder" required="" #cardHolderRef/>
                                <span class="e-float-line"></span>
                                <label class="e-float-text" for="cardHolder">CardHolder Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-datepicker #date width='100%' format='MM/yyyy' placeholder='Expiry Date'
                            floatLabelType='Auto'></ejs-datepicker>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <div class="form-group">
                            <ejs-numerictextbox #cvv format='0' placeholder='CVV' floatLabelType='Auto'
                                [showSpinButton]=false></ejs-numerictextbox>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <button class='e-btn' id="Back_Btn" (click)='btnClick($event)'>Back</button>
                        <button class='e-btn' id="Save_Btn" (click)='btnClick($event)'>Save</button>
                        <div id="err3" #error1>* Please fill all fields</div>
                    </div>
                </div>
            </ng-template>
        </e-accordionitem>
    </e-accordionitems>
</ejs-accordion>