<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular MultiSelect</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Angular UI Controls" />
    <meta name="author" content="Syncfusion" />
    <!-- <link href="index.css" rel="stylesheet" /> -->
</head>

<body>
    <div class="row" style="width:500px;">
        <div class="col-xs-7 col-sm-7 col-lg-7 col-md-7" style="padding-top:20px;">
            <div style="webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
       box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
       margin:0 auto;height:auto">
                <div style="padding:30px;">
                    <form #form="ngForm">
                        <div class="form-group">
                            <ejs-multiselect name="skillname" #book='ngModel' [(ngModel)]='skillForm.skillname'
                                [dataSource]='skillset' [placeholder]='placeholder'>
                            </ejs-multiselect>
                            <div *ngIf="book.invalid && (book.dirty || book.touched)" class="alert alert-danger">
                                <div *ngIf="book.errors">
                                    BookName is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                            <div class="e-float-input">
                                <input type="text" required #sname='ngModel' [(ngModel)]="skillForm.sname" name="sname"
                                    maxlength="10" />
                                <span class="e-float-line e-label-top"></span>
                                <label class="e-float-text e-label-top">Name:</label>
                                <div *ngIf="sname.invalid && (sname.dirty || sname.touched)" class="alert alert-danger">
                                    <div *ngIf="sname.errors">
                                        Name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                            <div class="e-float-input">
                                <input type="text" required #smail='ngModel' [(ngModel)]="skillForm.smail" name="smail"
                                    maxlength="15" />
                                <span class="e-float-line e-label-top"></span>
                                <label class="e-float-text e-label-top">Email:</label>
                                <div *ngIf="smail.invalid && (smail.dirty || smail.touched)" class="alert alert-danger">
                                    <div *ngIf="smail.errors">
                                        Email is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px;">
                            <button ejs-button [disabled]="!form.valid">Done</button>
                            <button ejs-button type="reset"
                                [disabled]="!(book.valid || sname.valid || smail.valid)">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5" style="padding-top:20px;">
            <div style="webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
       box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
       margin:0 auto;height:330px;">
                <div style="padding:30px;">
                    <div class="form-group">
                        <span style="font-weight:800;">Selected Language: </span>
                        <span style="font-style:oblique;color:#8a2be2;">
                            {{ skillForm.skillname }}</span>
                    </div>
                    <div class="form-group" style="padding-top:50px;">
                        <span style="font-weight:800;">Buyer Name: </span>
                        <span style="font-style:oblique;color:#8a2be2;">
                            {{ skillForm.sname }}</span>
                    </div>
                    <div class="form-group" style="padding-top:50px;">
                        <span style="font-weight:800;">Buyer Mail ID: </span>
                        <span style="font-style:oblique;color:#8a2be2;">
                            {{ skillForm.smail }}</span>
                    </div>
                </div>
            </div>
        </div>
        <link href='https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css' rel='stylesheet' />
    </div>
</body>

</html>