@import 'node_modules/@syncfusion/ej2-angular-base/styles/material.css';
@import '/node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import '/node_modules/@syncfusion/ej2-angular-notifications/styles/material.css';

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#element {
    width: 100%;
    margin: auto;
}

.sample_container {
    width: 800px;
    margin: auto;
}

.block {
    margin: 10px 10px 10px 10px;
    vertical-align: top;
}

.e-badge-showcase {
    width: 150px;
    height: 90px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 1px 3px lightgrey, 0 1px 2px lightgrey;
    border-radius: 8px;
}

.e-badge-showcase .e-card-header .e-card-header-title {
    align-self: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: #eaeaea 1px 1px 2px;
}

.e-badge-showcase .e-card-header .e-card-sub-title {
    color: black;
    white-space: pre-line;
    font-size: 14px;
    text-shadow: #eaeaea 1px 1px 2px
}

.e-badge-showcase .e-card-header .e-card-sub-title p {
    margin: 0;
}

.e-badge-showcase .e-card-content {
    overflow: visible;
    align-self: center;
    padding: 0 0 10px 0;
}

.e-badge-showcase .e-card-content .e-badge {
    font-size: 12px;
}

