#container {
    margin: 0 auto;
    width: 800px;
  }
  
  #defaultLayout .e-panel .e-panel-container .content {
    vertical-align: middle;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
  }
  
  td{
    padding: 5px;
  }
  
  div#properties {
    width: 205px;
    margin-left: 15px;
    border: 1px solid black;
    padding: 15px;
    position: absolute;
  }
  
  .inline {
    display: inline-block;
  }
  
  div#control {
    width: 500px;
  }
  
  #resize{
    margin-left: 40%;
  }