
@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import 'node_modules/@syncfusion/ej2-angular-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-angular-buttons/styles/material.css';

button {
  margin: 25px 5px 20px 20px;
}

.e-btn-icon.e-search-icon {
	background: url('button/images/search_icon.svg'); 
	height: 25px; 
	width: 25px; 
}