#container{
    width: 100%;
}
#daterangepicker {
    width: 25%;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-flex;
}
#format {
    width: 180px;
    margin-left: 400px;
    display: inline-block;
}
.e-daterangepicker.e-daterange-day-header-lg.format-wide .e-calendar.e-calendar-day-header-lg{
    min-width: 490px;
}
.e-daterangepicker.e-daterange-day-header-lg.format-wide {
    max-width: 1000px;
    left: 0px !important;
}
#wrap {
    height: 30px;
    width: 150px;
    margin-top: 10px;
}
.custom-input-label{
    font-size: 15px;
    font-weight: bold
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
