@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/chat-ui/index.css';

#wrapper {
  height: 380px;
  width: 450px;
  margin: 0 auto;
}

.empty-chat-text {
  font-size: 15px;
  text-align: center;
  margin-top: 90px;
}