
#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#wrapper {
  height: 380px;
  width: 450px;
  margin: 0 auto;
}

.custom-container {
  border-color: #e0e0e0;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.custom-container .e-chat-header {
  background: #0c888e;
}

.custom-container .e-footer .e-input-group {
  border: 3px solid #bde0e2;
}
