<ng-template #DatePickertemplateRef>
  <ejs-datepicker></ejs-datepicker>
</ng-template>

<ng-template #FirstDropDowntemplateRef>
  <ejs-dropdownlist [dataSource]="firstDropDownData"></ejs-dropdownlist>
</ng-template>

<ng-template #SecondDropDowntemplateRef>
  <ejs-dropdownlist [dataSource]="secondDropDownData"></ejs-dropdownlist>
</ng-template>

<ng-template #ThirdDropDowntemplateRef>
  <ejs-dropdownlist [dataSource]="thirdDropDownData"></ejs-dropdownlist>
</ng-template>

<button id="add" class="e-btn" (click)="addButtonClicked($event)">Click to add</button>
<button id="remove" class="e-btn" (click)="removeButtonClicked($event)">Click to remove</button>

<ejs-tab id="element" #element>
  <e-tabitems>
    <e-tabitem [header]="tabItemsHeaderText[0]" [content]="DatePickertemplateRef"></e-tabitem>
    <e-tabitem [header]="tabItemsHeaderText[1]" [content]="FirstDropDowntemplateRef"></e-tabitem>
    <e-tabitem [header]="tabItemsHeaderText[2]" [content]="SecondDropDowntemplateRef"></e-tabitem>
  </e-tabitems>
</ejs-tab>
