<div>
    <div style="display: flex;">
        <div style="padding-right: 10px;">
            <button ejs-button cssClass='e-info' (click)='refreshCellTemplate()'> Refresh
                cellTemplate </button>
        </div>
        <div style="padding-right: 10px;">
            <button ejs-button cssClass='e-info' (click)='refreshDateHeaderTemplate()'> Refresh
                dateHeaderTemplate </button>
        </div>
        <div style="padding-right: 10px;">
            <button ejs-button cssClass='e-info' (click)='refreshEventTemplate()'> Refresh
                eventTemplate </button>
        </div>
        <div style="padding-right: 10px;">
            <button ejs-button cssClass='e-info' (click)='refreshResHeaderTemplate()'> Refresh
                resourceHeaderTemplate </button>
        </div>
        <div style="padding-right: 10px;">
            <button #allTempObj ejs-button cssClass='e-info' (click)='refreshAllTemplate()'> Refresh All
                Template </button>
        </div>
    </div>
    <div>
        <ejs-schedule #scheduleObj width='auto' height='520px' [selectedDate]="selectedDate"
            [(currentView)]="currentView" [eventSettings]="eventSettings" [group]="group" [readonly]='readonly'>
            <ng-template #resourceHeaderTemplate let-data>
                <div class='res-template-wrap'>
                    <div class="resource-image {{getDoctorImage(data)}}"></div>
                    <div class="resource-details">
                        <div class="resource-name">{{getDoctorName(data)}}</div>
                        <div class="resource-designation">{{getDoctorLevel(data)}}</div>
                    </div>
                </div>
            </ng-template>
            <ng-template #dateHeaderTemplate let-data>
                <div class="date-text">{{getDateHeaderText(data.date)}}</div>
                <div [innerHTML]="getWeatherImage(data.date)"></div>
            </ng-template>
            <ng-template #cellTemplate let-data>
                <div class="cell-template-wrap" *ngIf="data.type == 'workCells'"
                    [innerHTML]="getWorkCellText(data.date)">
                </div>
                <div class="cell-template-wrap" *ngIf="data.type == 'monthCells'"
                    [innerHTML]="getMonthCellText(data.date)">
                </div>
            </ng-template>
            <e-views>
                <e-view option="Week">
                    <ng-template #eventTemplate let-data>
                        <div class='app-template-wrap' [style.background]="data.SecondaryColor">
                            <div class="subject" [style.background]="data.PrimaryColor">{{data.Subject}}</div>
                            <div class="time" [style.background]="data.PrimaryColor">Time:
                                {{getTimeString(data.StartTime)}}
                                -
                                {{getTimeString(data.EndTime)}}</div>
                            <div class="image">
                                <img src="https://ej2.syncfusion.com/demos/src/schedule/images/{{data.ImageName}}.svg"
                                    alt="{{ImageName}}" />
                            </div>
                            <div class="description">{{data.Description}}</div>
                            <div class="footer" [style.background]="data.PrimaryColor"></div>
                        </div>
                    </ng-template>
                </e-view>
                <e-view option="Month"></e-view>
                <e-view option="TimelineMonth"></e-view>
            </e-views>
            <e-resources>
                <e-resource field='DoctorId' title='Doctor Name' name='Doctors' [dataSource]='resourceDataSource'
                    textField='text' idField='id' colorField='color' workDaysField='workDays' startHourField='startHour'
                    endHourField='endHour'>
                </e-resource>
            </e-resources>
        </ejs-schedule>
    </div>
</div>