.templatewrap {
  text-align: center;
  width: 100%;
}

.templatewrap img {
  width: 20px;
  height: 20px;
}

.e-schedule .e-vertical-view .e-header-cells, .e-schedule .e-timeline-month-view .e-header-cells {
  height: 71px;
  text-align: center;
}

.e-schedule .e-vertical-view .e-resource-cells, .e-schedule .e-timeline-month-view .e-resource-cells {
  height: 62px;
}

.caption {
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.e-schedule .e-month-view .e-work-cells {
  position: relative;
}

.e-schedule .e-month-view .res-template-wrap {
  /* text-align: center; */
  width: 100%;
}

.e-schedule .e-month-view .res-template-wrap img {
  width: 40px;
  height: 40px;
}

.e-schedule .e-timeline-month-view .res-template-wrap {
  width: 100%;
}

.e-schedule .e-timeline-month-view .res-template-wrap img {
  width: 50px;
  height: 50px;
}

.e-schedule .e-month-view .weather-image {
  float: right;
  margin: -20px 2px 0 0;
  width: 20px;
  height: 20px;
}

/* event template */

.e-schedule .e-vertical-view .e-content-wrap .e-appointment {
  border-radius: 8px;
}

.e-schedule .e-vertical-view .e-content-wrap .e-appointment .e-appointment-details {
  padding: 0;
  height: 100%;
}

.e-schedule .app-template-wrap {
  height: 100%;
  white-space: normal;
}

.e-schedule .app-template-wrap .image {
  text-align: center;
  padding: 8px 0 4px;
}

.e-schedule .app-template-wrap .image img {
  height: 100%;
  width: 100%;
}

.e-schedule .app-template-wrap .subject {
  font-weight: 600;
  font-size: 15px;
  padding: 4px 4px 4px;
  height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.e-schedule .app-template-wrap .time {
  height: 50px;
}

.e-schedule .app-template-wrap .time, .e-schedule .app-template-wrap .description {
  font-size: 12px;
  padding: 4px 6px 4px;
  overflow: hidden;
}

.e-schedule .app-template-wrap .footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

/* resource header template */

.e-schedule .res-template-wrap {
  display: flex;
}

.e-schedule .res-template-wrap .will-smith {
  background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/will-smith.png');
}

.e-schedule .res-template-wrap .alice {
  background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/alice.png');
}

.e-schedule .res-template-wrap .robson {
  background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/robson.png');
}

.e-schedule .res-template-wrap .resource-image {
  background-repeat: no-repeat;
  background-size: 45px;
  height: 45px;
  width: 45px;
}

.e-schedule .res-template-wrap .resource-details {
  padding-left: 10px;
}

.e-schedule .res-template-wrap .resource-details .resource-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.e-device .res-template-wrap .resource-details .resource-name {
  font-size: inherit;
  font-weight: inherit;
}

/* month cell template */

.e-schedule .e-month-view .e-work-cells {
  position: relative;
}

.e-schedule .cell-template-wrap {
  text-align: center;
  /* position: absolute; */
  /* width: 100%; */
}

.e-schedule .cell-template-wrap img {
  width: 30px;
  height: 30px;
}

.e-schedule .caption {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}