@import 'node_modules/@syncfusion/ej2-tailwind3-theme/styles/ai-assistview/index.css';

.ai-litellm-assistview {
    height: 350px;
    width: 600px;
    margin: 0 auto;
}

.ai-litellm-assistview .banner-content .e-assistview-icon:before {
    font-size: 35px;
}

.ai-litellm-assistview .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}