<div id='tabparent'>
    <ejs-tab #tabObj id="draggableTab" heightAdjustMode='Auto' [allowDragAndDrop]='true' dragArea='#tabparent'
    (created)='onTabCreate()' (dragged)='tabDragStop($event)'>
    <e-tabitems>
        <e-tabitem [header]='headerText[0]' [content]="content0"></e-tabitem>
        <e-tabitem [header]='headerText[1]' [content]="content1"></e-tabitem>
        <e-tabitem [header]='headerText[2]' [content]="content2"></e-tabitem>
        <e-tabitem [header]='headerText[3]' [content]="content3"></e-tabitem>
    </e-tabitems>
    </ejs-tab>
    <ejs-treeview #treeObj id='draggableTreeview' [fields]='field' cssClass='treeview-external-drop-tab'>
    </ejs-treeview>
</div>
