<div class="stepper">
  <div class="stepText">
    <ejs-stepper stepType="Indicator">
      <e-steps>
        <e-step text="A"></e-step>
        <e-step text="B"></e-step>
        <e-step text="C"></e-step>
        <e-step text="D"></e-step>
      </e-steps>
    </ejs-stepper>
  </div>
  <div class="labelStepper">
    <ejs-stepper>
      <e-steps>
        <e-step label="Cart"></e-step>
        <e-step label="Delivery Address"></e-step>
        <e-step label="Payment"></e-step>
        <e-step label="Ordered"></e-step>
      </e-steps>
    </ejs-stepper>
  </div>
</div>