<div>
  <ejs-grid [dataSource]='data'  [allowPaging]="true" [pageSettings]="pageSettings" [allowSorting]="true" [allowFiltering]="true" [filterSettings]="filterSettings" [isRowPinned]="isRowPinned" height="200">
      <e-columns>                  
        <e-column field="TaskID" headerText="ID" width="80" isPrimaryKey="true" textAlign="Right"></e-column>        
        <e-column field="Title" headerText="Title" width="100"></e-column>
        <e-column field="Status" headerText="Status" width="100"></e-column>
        <e-column field="Assignee" headerText="Assignee" width="100"></e-column>
        <e-column field="Priority" headerText="Priority" width="100"></e-column>
      </e-columns>
  </ejs-grid>
</div>
  