<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular AutoComplete</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Typescript Toolbar Controls" />
    <meta name="author" content="Syncfusion" />
    <!-- <link href="./index.css" rel="stylesheet" /> -->
</head>

<body>
    <div class="row" style="width:500px;">
        <div class="col-xs-7 col-sm-7 col-lg-7 col-md-7" style="padding-top:20px;">
            <div style="webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
     margin:0 auto;height:330px;">
                <div style="padding:30px;">
                    <form #form="ngForm">
                        <div class="form-group">
                            <ejs-autocomplete name="skillname" #value='ngModel' required [(ngModel)]='skillname'
                                allowCustom=false [dataSource]='skillset' [placeholder]='placeholder'
                                floatLabelType='Auto'>
                            </ejs-autocomplete>
                            <div *ngIf="(value.invalid && (value.dirty || value.touched))" class="alert alert-danger">
                                <div *ngIf="value.errors">
                                    Value is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                            <div class="e-float-input">
                                <input type="text" #name='ngModel' required [(ngModel)]="sname" name="sname"
                                    maxlength="10" />
                                <span class="e-float-line e-label-top"></span>
                                <label class="e-float-text e-label-top">Name:</label>
                                <div *ngIf="(name.invalid && (name.dirty || name.touched))" class="alert alert-danger">
                                    <div *ngIf="name.errors">
                                        Name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                            <div class="e-float-input">
                                <input type="text" #email='ngModel' required [(ngModel)]="smail" name="smail"
                                    maxlength="15" />
                                <span class="e-float-line e-label-top"></span>
                                <label class="e-float-text e-label-top">Email:</label>
                                <div *ngIf="(email.invalid && (email.dirty || email.touched))"
                                    class="alert alert-danger">
                                    <div *ngIf="email.errors">
                                        Email is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px;">
                            <button ejs-button [disabled]="!form.valid">Done</button>
                            <button ejs-button type="reset" [disabled]="!form.valid">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5" style="padding-top:20px;">
            <div style="webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
     margin:0 auto;height:330px;">
                <div style="padding:30px;">
                    <div class="form-group">
                        <span style="font-weight:800;">Selected Language: </span>
                        <span style="font-style:oblique;color:#8a2be2;">
                            {{ skillForm.skillname }}</span>
                    </div>
                    <div class="form-group" style="padding-top:50px;">
                        <span style="font-weight:800;">Buyer Name: </span>
                        <span style="font-style:oblique;color:#8a2be2;">
                            {{ skillForm.sname }}</span>
                    </div>
                    <div class="form-group" style="padding-top:50px;">
                        <span style="font-weight:800;">Buyer Mail ID: </span>
                        <span style="font-style:oblique;color:#8a2be2;">
                            {{ skillForm.smail }}</span>
                    </div>
                </div>
            </div>
        </div>
        <link href='https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css' rel='stylesheet' />
    </div>

</body>

</html>