@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import '../node_modules/@syncfusion/ej2-interactive-chat/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';

#wrapper {
  height: 350px;
  width: 650px;
}

.custom-btn .e-user::before {
  color: blue;
  font-size: 15px;
}
.custom-btn.e-toolbar-item button.e-tbar-btn {
  border: 1px solid #dcdcdc;
}